/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700;800&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif; 
  background-color: #f8f9fa; 
  color: #333;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; 
  font-weight: 800; 
  letter-spacing: -1px; 
}

html {
  scroll-behavior: smooth;
}